<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <connectionstring>
        Host=localhost;
        Port=5432;
        Database=postgres;
        Username=postgres;
        Password=postgres;
        Search Path=public;
        Client Encoding=UTF8;
      </connectionstring>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>